<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    I am currently working in <a href="http://vision.nju.edu.cn"><strong>Vision Lab</strong></a> with Prof. Zhan Ma, Nanjing University, focusing on <strong>AI powered 2D to 3D multimedia processing and compression</strong>. 
    
    For students who are interested in our research area, welcome to join us.
</div>

<h1><span data-i18n="skills.my_skills">Services</span></h1>

<div>
    I am/was invited reviewer for:
     <li><strong>Trans on Image Processing, Trans on CSVT, Signal Processing Letter, Journal of Big Data</strong></li>
     <li><strong>NeurIPS, ICLR, CVPR, AAAI, ACM MM, MMSP</strong></li>
    Conference service:
    <li><strong>ICASSP2024 Session Chair</strong> on Segmentation (poster) and 3D generation (lecture)</li>
</div>

<br>
