---
layout: default
---

<a class="btn" href="{{ '/' | relative_url }}">
  Home
</a>
{% if page.image.feature %}
<div class="post-image-feature">
  <img class="feature-image" src=
  {% if page.image.feature contains 'https' or page.image.feature contains 'http' %}
  "{{ page.image.feature }}"
  {% else %}
  "{{ '/img/' | append: page.image.feature | relative_url }}"
  {% endif %}
  alt="{{ page.title | escape }} feature image">

  {% if page.image.credit %}
  <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
</div><!-- /.image-wrap -->
{% endif %}


<div id="post">
  <header class="post-header">
    <h1 title="{{ page.title | escape }}">{{ page.title }}</h1>
    <span class="post-meta">
      <span class="post-date">
        {{ page.date | date: "%-d %b %Y" | upcase }}
      </span>
      •
      {% include read_time.html %}
    </span>

  </header>

</div>

{% assign share_url = site.url | append: page.url | uri_escape %}
{% assign share_title = page.title | uri_escape %}
<div class="share-buttons" aria-label="Share this article">
  <h6>Share on: </h6>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?url={{ share_url }}&amp;text={{ share_title }}" class="twitter btn" target="_blank" rel="noopener noreferrer" title="Share on X"><i class="fa fa-twitter" aria-hidden="true"></i><span> X</span></a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}" class="facebook btn" target="_blank" rel="noopener noreferrer" title="Share on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span> Facebook</span></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ share_url }}" class="linkedin btn" target="_blank" rel="noopener noreferrer" title="Share on LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>
    </li>
    <li>
      <a href="https://news.ycombinator.com/submitlink?u={{ share_url }}&amp;t={{ share_title }}" class="hacker-news btn" target="_blank" rel="noopener noreferrer" title="Share on Hacker News"><i class="fa fa-hacker-news" aria-hidden="true"></i><span> Hacker News</span></a>
    </li>
    <li>
      <a href="https://www.reddit.com/submit?url={{ share_url }}&amp;title={{ share_title }}" class="reddit btn" target="_blank" rel="noopener noreferrer" title="Share on Reddit"><i class="fa fa-reddit" aria-hidden="true"></i><span> Reddit</span></a>
    </li>
  </ul>
</div><!-- end share-buttons -->
